<section class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
        <h3><%= t ".title" %></h3>
        <p><%= t ".content" %></p>
        <div class="cont-info">
          <div class="ci-icon">
            <%= image_tag("icons/location.png", alt: "#") %>
            <div class="ci-text">Main Str, no 23, New York</div>
          </div>
          <div class="cont-info">
            <div class="ci-icon">
              <%= image_tag("icons/phone.png", alt: "#") %>
              <div class="ci-text">+546 990221 123</div>
            </div>
            <div class="cont-info">
              <div class="ci-icon">
               <%= image_tag("icons/mail.png", alt: "#") %>
               <div class="ci-text">hosting@contact.com</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</section>
